/*====Button====*/
.btn{
	/*background: #ff68a3;*/
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 1.8rem;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 1;
	margin-bottom: 0;
	padding: 2rem 4rem;
	text-align: center;
	text-transform: capitalize;
	transition: all 0.3s ease ;
	vertical-align: middle;
	border-radius: 3rem;
	border: 2px solid $white;
}
.btn-border{
	border-color: #fff;
	background: transparent;
	transition: all 0.3s;
}
.btn-border:hover{
	background: #ff68a3;
	border: none;
}
.btn:hover{
	color: #fff;
	background: #2ecc71;
	border-color: #2ecc71;
}